.inputContainer{
    background-color: white;
    width: 100%;
    border-radius: 15px;
    
    top: 20px;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:1rem;
    gap: 20px 0;
        .h2Contain{
            max-width: 100%;
            display: flex;
            justify-content: center;
            .h2Title{  
                white-space: nowrap;
            }
        }
        div{
            margin: auto;
            max-width: 100%;
             
            display: flex;
            align-items: center;
            justify-content:center;
            .formContainer{
                

                .input{
                    all: unset;
                    padding: 0 20px;
                    width: 200px;
                    height: 40px;
                    border:3px solid  #d78f1a;
                    border-radius: 15px;
                    color:#d78f1a;
                    
                }
            }
        }
}

@media screen and (max-width: 1024px) {
    .h2Contain{
        h2{
            font-size:40px;
        }

    }
    
}
@media screen and (max-width: 768px) {
    
        .h2Contain{
            h2{
                font-size: 30px;
            }
        }
        .input{
            font-size: 20px;
        }

    
    
}
@media screen and (max-width: 610px) {
    
    .h2Contain{
        h2{
            font-size: 25px;
        }
    }
    



}
@media screen and (max-width: 513px) {
    
        .h2Contain{
            h2{
                font-size: 20px;
            }
        }
        .input{
            font-size: 15px;
        }

    
    
}