
.map {
    
    width: 100%;
    height: 550px;
    z-index: 0;
    filter: grayscale(0.1) brightness(78%) contrast(180%) saturate(1.2);
    border-radius: 15px;
    
}

@media (max-width: 768px) {
    .map {
      height: 400px;
    }
  }
//   @media (min-width: "600px") {
//     .map {
//       padding: 0 40px;
      
//     }
//   }
//   @media (min-width: "800px") {
//     .map {
      
//       width: 80%;
//     }
//   }
//   @media (min-width: "1200px") {
//     .map {
//       width: 70%;
      
//     }
//   }
//   @media (min-width: "1400px") {
//     .map {
//       width: 60%;
//     }
//   }
//   @media (min-width: "1600px") {
//     .map {
//       width: 50%;
//     }
//   }
//   @media (min-width: "1800px") {
//     .map {
//       width: 45%;
//     }
//   }