@import "react-alice-carousel/lib/alice-carousel.css";

.imgContainer{
    // width: 100px;
    // height: 100px;
    margin: 0 10px;
    .carouselImg{
        width: 100%;
        border-radius: 15px;
    }
}