@import "react-alice-carousel/lib/alice-carousel.css";

.imgContainer{
    // width: 700px;
    // height: 250px;
    object-fit:cover;
    margin:0 10px;
    .carouselImg{
        width: 100%;
        height:100%;
        border-radius: 15px;
    }
}