

.sicilyContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // background-color: rgb(224, 224, 224);
    .paragraphContaine{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-evenly;
        align-items:flex-end;
        flex-wrap: wrap;
        background-repeat: no-repeat;
        p{
            white-space: nowrap;
            font-family: 'El Messiri', sans-serif;
            text-align: center;

        }

    }
    .imgContain{
        margin-top:5rem ;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 250px;
        max-width: 100%;
        h2{
            font-size:larger;
        }
    
    }
}

@media screen and (max-width: 768px) {
    .sicilyContainer{
        .paragraphContaine{
            justify-content: center;
            justify-content: center;
            flex-wrap: wrap;
       
            p{
                width: 100%;
                font-size:inherit;
            }
        }

    }
}
@media screen and (max-width: 600px) {
    .sicilyContainer{
        .paragraphContaine{
            justify-content: center;
            flex-wrap: wrap;
       
            p{
                width: 100%;
                
            }
        }

    }
}
