

.sicilyContainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // background-color: rgb(224, 224, 224);
    .titleContainer{
        h2{
            color: rgb(215,143,26);
            margin-bottom: 3rem;
        }
    }
    .paragraphContaine{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        // align-items:flex-end;
        gap: 2rem;
        flex-wrap: wrap;
        
        margin-bottom: 4rem;
        p{
            
            font-family: 'El Messiri', sans-serif;
            text-align: center;

        }

    }
    a{
        width: 100%;
        text-align: center;
        .button{
            all: unset;
            margin:auto;
            text-align: center;
            width: 50%;
            min-height: 50px;
            border-radius: 15px;
            border:solid 2px rgb(215,143,26);
            color: rgb(255, 255, 255);
            background-color: rgb(215,143,26);
            font-size: 100%;
            
        }

    }
    .imgContain{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        // min-width: 250px;
        // max-width: 100%;
        h2{
            font-size:larger;
            text-align: center;
        }
        
    
    }
}

@media screen and (max-width: 768px) {
    .sicilyContainer{
        .paragraphContaine{
            justify-content: center;
            justify-content: center;
            flex-wrap: wrap;
       
            p{
                width: 100%;
                font-size:inherit;
            }
        }
        .button{
            // font-size: 20px;
        }


    }
}
@media screen and (max-width: 600px) {
    .sicilyContainer{
        .paragraphContaine{
            justify-content: center;
            flex-wrap: wrap;
       
            p{
                width: 100%;
                
            }
        }
       

    }
}
