
.logoContain{
    width: 100%;
   div{
    width: 100%;
    text-align: center;
    h2{
        width: 100%;
        margin-bottom: 3rem;
       
       
    }
   }
    .logoWrapper{
        display: flex;
        
        h3{
            color:rgb(216,39,31);
        }
    }
}
@media screen and (max-width: 1024px) {
    .logoContain{
        h2{
            font-size:40px;
        }
    }
    
}
@media screen and (max-width: 768px) {
    .logoContain{
        h2{
            font-size: 30px;
        }
    }
    
}