.container{
    width: 100vw;
    height: 100vh;
    padding:0 10rem;
   
   
    background-image: url(../../components/Images/imageBackground.jpeg);
    
}


@media screen and (max-width: 1440px) {
    .container{
        padding:0 6rem;
            
    }
    
}
@media screen and (max-width: 1024px) {
    .container{
        padding:0 6rem;
             
    }
    
}
@media screen and (max-width: 897px) {
    .container{
        padding:0 3rem;
        
     
        
    }
    
}
@media screen and (max-width: 768px) {
    .container{
        padding:0 3rem;
        

        
    }
    
}
@media screen and (max-width: 575px) {
    .container{
         
         
       
    }
    
}

@media screen and (max-width: 425px) {
    .container{
        padding:0 10px;
       
          
        
    }
    
}


