.container{
    width: 100vw;
    height: 100vh;
    padding:0 10rem;
    background-image: url(../../components/Images/imageBackground.jpeg);
    overflow-y: auto;
    gap: 50px;
    
    div{
        width: 100%;
        background-color: white;
        
        border-radius: 15px;
    }
}


@media screen and (max-width: 1440px) {
    .container{
        padding:0 6rem;
            
    }
    
}
@media screen and (max-width: 1024px) {
    .container{
        padding:0 6rem;
             
    }
    
}
@media screen and (max-width: 897px) {
    .container{
        padding:0 3rem;
        
     
        
    }
    
}
@media screen and (max-width: 768px) {
    .container{
        padding:0 3rem;
        

        
    }
    
}


@media screen and (max-width: 425px) {
    .container{
        padding:0 10px;
       
          
        
    }
    
}


