@import url('https://fonts.googleapis.com/css2?family=El+Messiri&display=swap');
.container{
    background-image: url(../components/Images/imageBackground.jpeg);
    
    background-color: rgba(255, 250, 240, 0.431);
    padding:2rem 10rem;
    
        main{
            background-color: rgb(255, 255, 255);
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
                div{
                    background-color: white;
                    border-radius: 15px;
                    text-align: center;
                    h1{
                        padding:3rem 20px 0 20px;
                        white-space: nowrap;
                        color: #0000001a;
                        background-clip:text;
  
                        background-image: url("../components/Images/sfondoH1.jpeg"); 
                    }
    
                }
            .componentWrapper{
                display: flex;
                justify-content: center;
                margin-bottom: 3rem ;
                padding: 1rem;
            }
            
            :nth-child(3){
                justify-content: space-between;
            }
            
        }
    
}
@media screen and (max-width: 3560px) {
    .container{
    
            h1{
                font-size: 120px;
            }    
    }
    
}
@media screen and (max-width: 1440px) {
    .container{
        padding: 6rem;
            h1{
                font-size: 90px;
            }    
    }
    
}
@media screen and (max-width: 1024px) {
    .container{
        padding: 6rem;
            h1{
                font-size: 80px;
            }    
    }
    
}
@media screen and (max-width: 897px) {
    .container{
        padding: 3rem;
        
        div{
            h1{
                font-size: 80px;
            }
        }
        
    }
    
}
@media screen and (max-width: 768px) {
    .container{
        padding: 3rem;
        
           
        div{
            h1{
                font-size: 60px;
                color: url(../components/Images/imageBackground.jpeg);
            }
        }
        
    }
    
}
@media screen and (max-width: 575px) {
    .container{
         
         
        div{
            h1{
                font-size: 40px;
            }
        }
    }
    
}

@media screen and (max-width: 425px) {
    .container{
        padding: 10px;
       
            div{
                h1{
                    font-size: 40px;
                }
            }
        
    }
    
}


