.container{
    padding:0 8rem;

    header{
        text-align: center;
    }
    main{
        :nth-child(3){
            justify-content: space-between;
        }
     .componentWrapper{
        margin-top: 4rem;
        display: flex;

    
     }
    }
}
